<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
</head>
<body>
    <a href="{{ url_for('config') }}">conf</a>
    <a href="{{ url_for('login') }}">log</a>
    <a href="{{ url_for('profile') }}">pro</a>
    <a href="{{ url_for('register') }}">reg</a>
    <a href="{{ url_for('search') }}">sear</a>
    <a href="{{ url_for('home') }}">/</a>
    <div>consulta con like %busqueda% </div>

    {for i in %busqueda%}

    <div>{i.profile.image} {i.username} {i.followers}</div>
    
</body>
</html>